$red: hsl(0, 100%, 74%);

.formControl {
  padding: 10px 20px;
  font-weight: 500;
}
.button{
  background-color: hsl(154, 59%, 51%);
    border: none;
    border-bottom: 10px darkgreen;

}
.hide{
  display:none;
}


.error{
    color: $red;

  }

.errorImage{
  height : 24px;
  width: auto;
  margin: 5px;
}

.error .formControl
{  border: 3px solid $red ;
  border-radius: 5px;}