$red: hsl(0, 100%, 74%);
$grey:hsl(246, 25%, 77%);
.formControl {
  padding: 10px 20px;
  font-weight: 500;
}
Button {
  background-color: hsl(154, 59%, 51%) !important;
    border: none !important;
    border-bottom: 3px solid #36b67d !important;
  width: 100%;
}
.hide{
  display:none;
}


.error{
    color: $red;
  &.formControl
  {  border: 3px solid $red ;
    border-radius: 5px;}
  }

.errorImage{
  height : 24px;
  width: auto;
  margin: 5px;
}

.littleText{
  color: $grey;
  font-size: small;
  text-align: center;
  }
.link{
  color: $red;
  font-weight: bold;
}