@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

$red: hsl(0, 100%, 74%);
$grey:hsl(246, 25%, 77%);
$purple:hsl(248, 32%, 49%);
$dark: hsl(249, 10%, 26%);
$shadow-red:#d96f73;
#main-container{
    font-family: 'Poppins';
    color: white;
    font-size: 16px;

}

Form{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 100%;
}
.infocard{
    background:$purple !important;
    margin-outside: 10vh 0 1vh 0;
    text-align: center;
    box-shadow: 0 5px $shadow-red ;
    padding: 0 5px;
    span{
        &.bold{
            font-weight: bold;

        }
    }
}
#formcol{
    flex-shrink: 0;
    width: 100vw;
}

.card{
    box-shadow: 0 15px $shadow-red ;
}
@media (max-width: 760px) {
    #description{
        text-align: center;
        margin: 10vh  20px 0 20px;
        padding: 20px;
        p{
            margin: 20px 0 0 0;
        }
    }

}
@media(min-width: 760px) {
    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
.col{
        flex-shrink: 0;
        min-width: 300px;
    }
#description{
    h1{font-weight: bolder}
    font-size: xx-large;
    padding: 15px;
    p{
        font-weight: normal;
        font-size: medium;
    }
}